<div class="container">
    <h2>Welcome {{firstName}} {{lastName}}!</h2>
    <hr>
    <div class="row"> 
        <div class="col-md-3">
            <img class="profileImg" src="{{profileImg}}" alt="">
        </div>

        <div class="col-md-3"><br>
            <h5><strong>Contact details!</strong></h5><br>
            <p><strong>Phone Number</strong>: <small>{{phoneNumber}}</small></p>
            <p><strong>email</strong>: <small>{{email}}</small></p>
        </div> 
    </div>
    <hr>
    <h5>Your second life's products are here!</h5><br>

    <input hidden id='coordinatesLat' data-lat='{{address.location.coordinates.[0]}}'>
    <input hidden id='coordinatesLng' data-lng='{{address.location.coordinates.[1]}}'>
    

<div id="userAddress"></div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/maps.js"></script>
<script src="/js/mapStyles.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb3CIAS1ZXY13tYIkYJZ1-RvOLaB0qb8g&callback=initMap"></script>
</div>


