<div class="container">
    <h3>Product Details</h3>
    <hr>
     
    <p> {{name}}</p>
    <p>{{description}}</p>
    <p>{{color}}</p>   
    <p>{{status}}</p>  
    <img src="{{imagen}}" alt="">

</div>